* {
    margin: 0 0;
    padding: 0 0;
}
h1, h2 {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
}

h1 {
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 300%;
}

.h1__spc {
        margin-top:5%;
}

h2 {
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 230%;
}

.h2__spc {
        font-size: 210%;
        margin-top:3%;
        margin-bottom: 3%;
}

h3 {
    margin-top: 25px;
    margin-bottom: 5px;;
    text-align: center;
}

h1:after {
    content:' ';
    margin-top: 10px;
    width: 60%;
    margin-left: 20%;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.54);
}

input {
    font-size: 90%;
    height: 22px;
    width: 240px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form {
    display: block;
    float: center;
    height: 50px;
    text-align: center;
}

/* Top Home and clock */
.top {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 5%;
}
.main .home__btn {
    display: inline-block;
    float:left;
}
.clock {
    display: inline-block;
    float: right;
}
 /* -------------------------- */
p {
    color: red;
    font-size: 120%;
    font-weight: 500;
}

hr {
    margin-left: 20%;
    width: 60%;
    margin-top: 5%;
    border: 1px solid rgba(0, 0, 0, 0.54);
}
.reg__spec { height: 100px; }

.button {
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: 700;
    font-size: 90%;
    letter-spacing: 1px;
    border-radius: 40px;
    padding: 10px 30px;
    outline: none;
    cursor: pointer;
}

.button:hover,
.button:active {
    background-color: rgba(0, 0, 0, 0.54);
    transition: 0.4s;
}

.main {
    text-align: center;
}

.home {
    padding: 8px 25px;
    vertical-align: left;
}

.home img {
    margin-left: -18px;
    margin-right: -18px;
    height: 30px
}
/*Time table*/

.table__spc {
    table-layout: fixed;
    text-align: center;
    background: none;
    border-collapse: collapse;
    margin-left: 20%;
}

.table__spc th:first-child {
    border-left: none;
    border-right: 2px solid rgba(0, 0, 0, 0.44);
}

.table__spc th:last-child {
    border-bottom: 2px solid rgba(0, 0, 0, 0.44);
    border-left: 2px solid rgba(0, 0, 0, 0.44);
}

.table__spc th:last-child {
    border-left: 2px solid rgba(0, 0, 0, 0.44);
}

.table__spc th {
    width: 100px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.44);
    border-left: 2px solid rgba(0, 0, 0, 0.44);
    height: 35px;
    letter-spacing: 1px;
}
.table__spc td {
   width: 140px;
   height: 100%;
   border-bottom: 2px solid rgba(0, 0, 0, 0.44);
   border-left: 2px solid rgba(0, 0, 0, 0.44);
}

.table__spc form{
    margin-top: -10px;
    margin-bottom: 0px;
    margin-left: -1px;
    width: 102%;
    height: 22px;
}
.table__spc button {
    width: 100%;
    height: 150%;
    background: none;
    border: none
}
.table__spc input {
}
.table__spc button:active,
.table__spc button:hover{
    background: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.54);
    transition: 0.2s;
    color: white;
}

/*Client table*/

.table__client {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
    border-collapse: collapse;
    font-size: 20px;
}
.table__client th{
    background: rgba(0, 0, 0, 0.05);
    width: 25%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.44);
    border-right: 1px solid rgba(0, 0, 0, 0.44);
}
.table__client td{
    border-right: 1px solid rgba(0, 0, 0, 0.44);
}
.table__client th:last-child {
    border-bottom: 2px solid rgba(0, 0, 0, 0.44);
    border-right: none;
}
.table__client td:last-child {
    border: none;
}

/*Info Screen page*/

.info form {
    width: 100%;
    display: block;
    text-align: left;
}

.info table {
    text-align: center;
    margin-left: 15%;
    width: 70%;
    border-collapse: collapse;
    font-weight: lighter;
    font-size: 145%;
    height: 50vh;
}

.info .th__first {
   background: rgba(0, 0, 0, 0.05);
   border-top: none;
}

.info th, .info td {
    border-top: 2px solid rgba(0, 0, 0, 0.44);
    border-left: 1px solid rgba(0, 0, 0, 0.44);
}
.info th:first-child {
   background: rgba(0, 0, 0, 0.05);
   border-left: none;
}
/* Specialist table Date/Time */

th .c1 {
    height: 100%;
    width: 100%;
    padding-right: 2px;
    margin-bottom: -3px;
    background-image: linear-gradient(
    to top right,
    #ffffff calc(50% - 1px),
    rgba(0, 0, 0, 0.44),
    #ffffff calc(50% + 1px));
}

div .c2 {
    text-align: right;
}

div .c3 {
    text-align: left;
    margin-top : -3px;
}